* {
	margin: 0;
	padding: 0;
	font-family: monospace;
	box-sizing: border-box;
}
body{
	 background: #6495ed;
}

.chatbox {
	width: 500px;
	min-width: 390px;
	height: 600px;
	background: #f0ffff;
	padding: 25px;
	margin: 20px auto;
	box-shadow: 0 3px powdergrey;
	border-radius: 10px;
}
.chatlogs {
	padding: 10px;
	width: 100%;
	height: 450px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.chatlogs::-webkit-scrollbar{
	width: 10px;
}
.chatlogs::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: lightgrey;
}
.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 15px;
}
.chat .user-photo {
	width: 60px;
	height: 60px;
	background: lightgrey;
	border-radius: 40%;
	overflow: hidden;
}
.chat .user-photo img{
	width: 100%;
}
.chat .chat-message {
	width: 80%;
	padding: 15px;
	margin: 5px 10px 0;
	background: yellow;
	border-radius: 15px;
	color: #fff;
	font-size: 15px;
}
.user .chat-message {
     background: magenta;
}
.self .chat-message {
     background: orange;
     order: -2;
}
.chat-form {
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
	position: static;
}
.chat-form textarea::-webkit-scrollbar{
	width: 10px;
}
.chat-form textarea::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: lightgrey;
}
textarea {
	background: #fbfbfb;
	width: 85%;
	height: 50px;
	border: 2px solid lightgrey;
	border-radius: 10px;
	resize: none;
	font-size: 15px;
	color: grey ;
}
textarea:hover {
	border: 3px solid grey;
}
button {
	background: #6495ed;
	padding: 5px 15px;
	border-radius: 30px;
	font-size: 15px;
	color: white;
	border: none;
	margin: 0 10px;
	cursor: pointer;
}
button:hover {
	background: skyblue;
	padding: 7px 17px;
	border: none;
	box-shadow: 0 3px 0 #0eb2c1; 
	font-size: 16px;
}